body {
    font-family: 'Crimson Text', serif;
    margin: 0;
}

.abu {
    color: blue;
}

.rohan {
    display: flex;
    padding: 5%;
}

.bokkor {
    width: 50%;
    padding: 2%;
    margin-bottom: 100px;
}

.bokkor img {
    width: 80%;
}

.sakib {
    background-image: url(bokkor/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.sohan {
    text-decoration: none;
    background-image: linear-gradient(red, blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.rakib {
    background-image: url(bokkor/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(bokkor/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.rifat {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 10px 10px 30px palevioletred;





}

#firoz {
    border-left: 7px solid red;
}

#raju {
    border-left: 7px solid blue;

}

footer P {
    text-align: center;
}